@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(229, 57%, 11%) url("../images/bg-desktop.png") no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: bottom;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.container {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 130px;
}

.container > * {
  margin: 15px;
}

.leftBox {
  flex-basis: 17%;
  height: 170px;
  background-color: hsl(228, 56%, 26%);
  border-radius: 8px 120px 8px 8px;
  padding: 20px;
}

.logo {
  padding: 20px 0 0 20px;
}

.icons {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.icons > * {
  margin: 10px;
  background-color: hsl(229, 57%, 11%);
  border-radius: 10px;
}

.uploadIcon {
  padding-top: 20px;
  padding: 17px;
}

.documentIcon {
  padding: 13px 18px;
}

.folderIcon {
  padding: 15px;
}

.rightBox {
  color: white;
  flex-basis: 30%;
  background-color: hsl(228, 56%, 26%);
  padding: 10px;
  border-radius: 8px;
}

.sliderContainer {
  width: auto;
  padding: 30px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 17px;
  background-color: red;
  background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  outline: none;
  border-radius: 20px;
  margin: 20px auto;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  background: white;
  border-radius: 100%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 13px;
  height: 13px;
  background: white;
  border-radius: 100%;
  cursor: pointer;
}

.startEnd {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.start {
  flex: 1;
}
.end {
  /* flex: 1; */
}

span {
  font-weight: 700;
}

label {
  font-weight: 200;
}

@media only screen and (max-width: 600px) {
  html,
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(229, 57%, 11%) url("../images/bg-mobile.png") no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: bottom;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
  }
  .rightBox {
    flex-basis: 100%;
  }

  .leftBox {
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 600px) {
  html,
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(229, 57%, 11%) url("../images/bg-mobile.png") no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: bottom;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
  }
  .rightBox {
    flex-basis: 100%;
  }

  .leftBox {
    flex-basis: 100%;
  }
}

@media only screen and (min-width: 600px) {
  html,
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(229, 57%, 11%) url("../images/bg-mobile.png") no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: bottom;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
  }
  .rightBox {
    flex-basis: 100%;
  }

  .leftBox {
    flex-basis: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .leftBox {
    flex-basis: 50%;
  }

  .rightBox {
    flex-basis: 53%;
  }

  html,
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(229, 38%, 75%) url("../images/bg-mobile.png") no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: bottom;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
  }
}

@media only screen and (min-width: 992px) {
  html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(229, 57%, 11%) url("../images/bg-desktop.png") no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: bottom;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.container {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 130px;
}

.container > * {
  margin: 15px;
}

.leftBox {
  flex-basis: 17%;
  height: 170px;
  background-color: hsl(228, 56%, 26%);
  border-radius: 8px 120px 8px 8px;
  padding: 20px;
}

.logo {
  padding: 20px 0 0 20px;
}

.icons {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.icons > * {
  margin: 10px;
  background-color: hsl(229, 57%, 11%);
  border-radius: 10px;
}

.uploadIcon {
  padding-top: 20px;
  padding: 17px;
}

.documentIcon {
  padding: 13px 18px;
}

.folderIcon {
  padding: 15px;
}

.rightBox {
  color: white;
  flex-basis: 30%;
  background-color: hsl(228, 56%, 26%);
  padding: 10px;
  border-radius: 8px;
}

.sliderContainer {
  width: auto;
  padding: 30px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 17px;
  background-color: red;
  background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  outline: none;
  border-radius: 20px;
  margin: 20px auto;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  background: white;
  border-radius: 100%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 13px;
  height: 13px;
  background: white;
  border-radius: 100%;
  cursor: pointer;
}

.startEnd {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.start {
  flex: 1;
}
.end {
  /* flex: 1; */
}

span {
  font-weight: 700;
}

label {
  font-weight: 200;
}
  
} 
